/* Fonts */
.raleway-normal{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.primary-bg{
    background-color: #f5f8ff;
}
/* Navbar and Banner Section */
.nav-title{
    font-size: 32px;
    color: rgba(78, 71, 255, 1);
    font-weight: 900;
}
.btn-primary{
    background-color:rgba(78, 71, 255, 1);
    color: white;
    padding: 12px 36px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.btn-primary:hover{
    background-color: darksalmon;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 150px;
}
.logo-bg{
    background-image: url("../Assets/Hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    margin-top: 0;
    
}
.banner-title{
    font-size: 65px;
    font-weight: bold;
    color: rgba(37, 36, 50, 1);
    text-align: center;
    margin-bottom: 37px;
}
.text-center{
    text-align: center;
}
/* Action Section */
.action-title{
    font-size: 42px;
    font-weight: bold;
    color: rgba(37, 36, 50, 1);
}
.action-discription{
    color: rgba(37, 36, 50, 0.5);
    font-size: 24px;
}
.action{
    display: flex;
    justify-content: space-between;
    margin: 116px 160px 0 140px;
    gap: 220px;
}
.action-pic{
    border-radius: 48px;
}
/* Productive User Section */
.productive-bg{
    background-color: rgba(78, 71, 255, 0.1);
    margin: 116px 159px 0 141px;
    border-radius: 20px;
}
.productive-title{
    font-size: 38px;
    font-weight: 800;
    padding: 50px 142px 40px 142px;
    text-align: center;
    margin-bottom: 40px;
}
.item-title{
    font-size: 80px;
    font-weight: 800;
    color: rgba(78, 71, 255, 1);
    margin-bottom: 20px;
    margin-top: 0;
    
}
.subtitle{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 0;
}
.about-productives{
    display: flex;
    justify-content: space-around;
    padding: 135px 142px 50px 142;
}
/*User Feedback Section*/
.user{
      margin: 0;
  padding: 40px 30px;
 
}
.user-title{
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 40px;
    text-align: center;
    margin-top: 135px;
}
.review-discription{
    color: rgba(30, 30, 30, 1);
}
.rvw-name{
    color: rgba(117, 117, 117, 1);
    font-weight: bold;
    margin: 0;
}
.rvw-date{
    color: rgba(179, 179, 179, 1);
    margin: 0;
}

.avatar{
    border-radius: 50%;
    width: 60px;
    height: 60px;
}
.review{
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(127, 90, 90, 0.06);
    border-radius: 10px;
}
.review-container{
    display: flex;
    gap: 24px;
    justify-content: center;
}
/* Optional Section */
.focus-title{
    font-size: 50px;
    font-weight: bold;
    padding-top: 70px;
}

.bg-optn{
    background-color: white;
    margin: 116px 159px 0 141px;
    border-radius: 20px;
}

.big-img{
    margin-top: 40px;
    margin-bottom: 71px;
    border-radius: 40px;
}
/* Lets get touch section */
.section-title{
    font-size: 97px;
    font-weight: 800;
    width: 525px;
}
.section{
   padding: 130px 230px;
    display: flex;
    justify-content: space-between;
    gap: 120px;
}
.section-form label {
  display: block;
  margin-bottom: 5px;
  color: #333;
  font-weight: 600;
}

.section-form input,
.section-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
}
.btn-second{
    background-color:rgba(78, 71, 255, 1);
    color: white;
    padding: 12px 36px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
}
.btn-second:hover{
    background-color: coral;
}
/* Footer Section */

footer {
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
      background-color: #ffffff;
      text-align: center;
      color: #8888aa;
      height: 428px;
    }

    .logo {
      font-size: 100px;
      font-weight: 900;
      color: #4b4bff; 
      margin-top: 100px;
      padding-top: 104px;
    }

    .description {
      font-size: 16px;
      margin-top: 20px;
      margin-bottom: 40px;
    }

    .nav {
      display: flex;
      justify-content: center;
      gap: 40px;
      font-size: 16px;
    }

    .nav a {
      text-decoration: none;
      color: #8888aa;
    }

    .nav a:hover {
      color: brown;
    }
